{% extends "layout.html" %}
{% block content %}

<body>
    <div>
	<div class="row">
	  <div class="column left">
	    <h3>{{news_data.title}}</h3>
	    <p>{{news_data.abstract}}</p>
	  </div>
	  <div class="column right">
	    <img src={{qr_images}} width=100 height=100>
	  </div>
	</div>
        
        <img src={{ news_data.multimedia.1.url }} alt="example" width={{news_data.multimedia.1.width * 0.8}}
            height={{news_data.multimedia.1.height * 0.8}}>
    </div>
</body>
{% endblock content %}